
backend/.env
/backend/node_modules
backend/screenshot copy 2.js
backend/screenshot copy.js
*.png
backend/samah-old.js
backend/wetransfere.js
backend/screenshot.js
backend/api.js
backend/vision.js
rag_tools/.env
/rag_tools/venv
backend/chains.json
backend/tokens.json
